{{#paper-toolbar accent=true as |toolbar|}}
    {{#toolbar.tools}}
        <h2>Reinforced Learning AI</h2>
        <span class="flex"></span>
    {{/toolbar.tools}}
{{/paper-toolbar}}
{{#each results as |item|}}
    {{results.item}}{{item}}
{{/each}}
<div class="flex layout-row">
    <span class="flex-20 layout-column user-input">
        Trial: {{numTrials}}
        {{paper-slider type="number" label="Trials" class="flex" min=1 max=100 value=numTrials onChange=(action (mut numTrials))}}
        Iterations: {{iterations}}
        {{paper-slider type="number" label="Iterations" class="flex" min=1 max=25000 value=iterations onChange=(action (mut iterations))}}
        Ensemble: {{ensemble}}
        {{paper-slider type="number" label="Ensemble" class="flex" min=1 max=10000 value=ensemble onChange=(action (mut ensemble))}}
        Memory: {{n}}
        {{paper-slider type="number" label="Memory" class="flex" min=2 max=10 value=n onChange=(action (mut n))}}
        {{!-- {{paper-input type="number" label="Trials" value=numTrials onChange=(action (mut numTrials))}}
        {{paper-input type="number" label="Iterations" value=iterations onChange=(action (mut iterations))}}
        {{paper-input type="number" label="Ensemble" value=ensemble onChange=(action (mut ensemble))}}
        {{paper-input type="number" label="Memory" value=n onChange=(action (mut n))}}
        {{paper-input label="Weights" value=teacher onChange=(action (mut teacher))}} --}}
        {{#paper-select
        disabled=false
        label=""
        options=types
        selected=selectedType
        onChange=(action (mut selectedType))
        as |type|}}
            {{type}}
        {{/paper-select}}
        {{#paper-checkbox value=fastMode onChange=(action (mut fastMode))}}
            No Animate
        {{/paper-checkbox}}
        {{#paper-select
        disabled=false
        label=""
        options=chartTypes
        selected=chartType
        onChange=(action (mut chartType))
        as |type|}}
            {{type}}
        {{/paper-select}}
        {{#paper-button class="go-button" primary=true raised=true onClick=(action "doTrials" selectedType)}}
            Run Trials
        {{/paper-button}}
        <span class="flex"></span>
    </span>
    <div class="flex-80">
        {{#if resultsData}}
            {{ember-chart class="card" type=chartType data=resultsData options=chartOptions width=400 height=400}}
        {{/if}}
        {{#if (gt trackers.length 0)}}
            {{#paper-list}}
                {{#paper-item class="md-2-line card"}}
                        <div class="md-list-item-text">
                            {{paper-progress-linear value=tracker.progress}}
                            <h3>Sum of Trials</h3>
                            <h3>Iterations: {{div (mult iterations numTrials) 1000}}k</h3>
                            <p>{{status}}</p>
                            {{results.length}}
                            {{#each chartData as |res i|}}
                                {{add res 1}}: {{floor (mult (div i ensemble) 100)}}%
                            {{/each}}
                        </div>
                {{/paper-item}}
                {{#each trackers as |tracker|}}
                    {{#paper-item class="md-2-line card"}}
                        <div class="md-list-item-text">
                            {{paper-progress-linear value=tracker.progress}}
                            <h3>ID: {{tracker.id}}</h3>
                            <h3>Iterations: {{tracker.history.length}}</h3>
                            <p>{{tracker.state}}</p>
                            {{#each-in tracker.results as |res i|}}
                                {{add res 1}}: {{div (round (mult (div i ensemble) 10000)) 100}}%
                            {{/each-in}}
                        </div>
                    {{/paper-item}}
                {{/each}}
            {{/paper-list}}
        {{else}}
            <h3 class="flex empty-list">No Trials</h3>
        {{/if}}
    </div>
</div>
